# Data Cleaning Script

### Step 1: Install Libraries

In [3]:
import pandas as pd

### Step 2: Load Data Set

In [ ]:
# 2.1 Load Data set
df = pd.read_csv("education_career_success_csv.csv")

print(df.head)

<bound method NDFrame.head of      Student_ID  Age  Gender  High_School_GPA  SAT_Score  University_Ranking  \
0        S00001   24    Male             3.58       1052                 291
1        S00002   21   Other             2.52       1211                 112
2        S00003   28  Female             3.42       1193                 715
3        S00004   25    Male             2.43       1497                 170
4        S00005   22    Male             2.08       1012                 599
...         ...  ...     ...              ...        ...                 ...
4995     S04996   26  Female             2.44       1258                 776
4996     S04997   18  Female             3.94       1032                 923
4997     S04998   19  Female             3.45       1299                 720
4998     S04999   19    Male             2.70       1038                 319
4999     S05000   23  Female             2.19       1145                  82

      University_GPA    Field_of_Study  Internships_Completed  \
0               3.96              Arts                      3
1               3.63               Law                      4
2               2.63          Medicine                      4
3               2.81  Computer Science                      3
4               2.48       Engineering                      4
...              ...               ...                    ...
4995            2.44              Arts                      3
4996            3.73               Law                      0
4997            2.52               Law                      3
4998            3.94               Law                      1
4999            3.19  Computer Science                      2

      Projects_Completed  Certifications  Soft_Skills_Score  Networking_Score  \
0                      7               2                  9                 8
1                      7               3                  8                 1
2                      8               1                  1                 9
3                      9               1                 10                 6
4                      6               4                 10                 9
...                  ...             ...                ...               ...
4995                   7               3                  8                 5
4996                   9               3                  6                 4
4997                   5               5                  6                 2
4998                   4               5                  5                 1
4999                   6               0                  5                 8

      Job_Offers  Starting_Salary  Career_Satisfaction  Years_to_Promotion  \
0              5            27200                    4                   5
1              4            25000                    1                   1
2              0            42400                    9                   3
3              1            57400                    7                   5
4              4            47600                    9                   5
...          ...              ...                  ...                 ...
4995           5            31500                    9                   5
4996           5            41800                    9                   2
4997           2            49500                    2                   5
4998           5            54700                    9                   4
4999           2            57000                    2                   5

     Current_Job_Level  Work_Life_Balance Entrepreneurship
0                Entry                  7               No
1                  Mid                  7               No
2                Entry                  7               No
3                  Mid                  5               No
4                Entry                  2               No
...                ...                ...              ...
4995               Mid                  7               No
4996             Entry                  4               No
4997               Mid                  6               No
4998             Entry                  6               No
4999            Senior                  9               No

[5000 rows x 20 columns]>

In [12]:
#2.2 Cleaning data
# Capitalize M and F in gender column
df['Gender'] = df['Gender'].str.strip().str.capitalize()

# Clean current job level
df['Current_Job_Level'] = df['Current_Job_Level'].str.strip().str.title()

# Clean Entrepreneurship Column
df['Entrepreneurship'] = df['Entrepreneurship'].str.strip().str.capitalize()

# Clean Field of Study Column
df['Field_of_Study'] = df['Field_of_Study'].str.strip().str.title()

In [ ]:
# 3.1
# Create Function to detect outliers
def detect_outliers_iqr(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return series[(series < lower_bound) | (series > upper_bound)]

# Print outliers for SAT
sat_outliers = detect_outliers_iqr(df['SAT_Score'])
print(f"SAT Score Outliers: {sat_outliers.count()}")

# Print Salary Outliers
salary_outliers = detect_outliers_iqr(df['Starting_Salary'])
print(f"Starting Salary Outliers: {salary_outliers.count()}")

SAT Score Outliers: 0
Starting Salary Outliers: 12

In [18]:
# Cap starting Salaries to combat outliers
lower_cap = df['Starting_Salary'].quantile(0.01)
upper_cap = df['Starting_Salary'].quantile(0.99)

df['Starting_Salary'] = df['Starting_Salary'].clip(lower=lower_cap, upper=upper_cap)
print(df[['Gender', 'Current_Job_Level', 'Entrepreneurship', 'Field_of_Study']].head())
print(df['Starting_Salary'].describe())

   Gender Current_Job_Level Entrepreneurship    Field_of_Study
0    Male             Entry               No              Arts
1   Other               Mid               No               Law
2  Female             Entry               No          Medicine
3    Male               Mid               No  Computer Science
4    Male             Entry               No       Engineering
count     5000.00000
mean     50510.86000
std      14354.24742
min      25000.00000
25%      40200.00000
50%      50300.00000
75%      60500.00000
max      84902.00000
Name: Starting_Salary, dtype: float64

C:\Users\clayt\AppData\Local\Temp\ipykernel_26048\153780482.py:5: FutureWarning: Downcasting behavior in Series and DataFrame methods 'where', 'mask', and 'clip' is deprecated. In a future version this will not infer object dtypes or cast all-round floats to integers. Instead call result.infer_objects(copy=False) for object inference, or cast round floats explicitly. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Starting_Salary'] = df['Starting_Salary'].clip(lower=lower_cap, upper=upper_cap)